<ion-header>
  <ion-toolbar>
    <ion-title>Eleganza Profunda</ion-title>
    <ion-buttons slot="end">
      <ion-button
        (click)="presentLogoutAlert()"
        shape="round"
        color="danger"
        class="logout-button"
        ion-ripple-effect
      >
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="page-content">
    <img src="assets/fondo.avif" alt="Home-fondo" class="home-image" />
  </div>

  <!-- Botón para agregar un nuevo perfume -->
  <ion-button expand="full" color="primary" (click)="addPerfume()">Añadir Perfume</ion-button>

  <!-- Grid de tarjetas de productos -->
  <div class="image-grid">
    <ion-card *ngFor="let item of items">
      <img [src]="item.image" />
      <ion-card-header>
        <ion-card-title>{{ item.name }}</ion-card-title>
        <ion-card-subtitle>{{ item.price | currency }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <div class="button-group">
          <!-- Botón de Editar -->
          <ion-button 
            (click)="editPerfume(item)" 
            size="small" 
            color="tertiary" 
            fill="outline">
            <ion-icon name="create-outline"></ion-icon>
          </ion-button>
          
          <!-- Botón para agregar a carrito -->
          <ion-button 
            (click)="addToCart(item)" 
            size="small" 
            color="primary" 
            fill="outline">
            <ion-icon name="cart-outline"></ion-icon>
          </ion-button>
          
          <!-- Botón para agregar a favoritos -->
          <ion-button 
            (click)="addToFavorites(item)" 
            size="small" 
            color="secondary" 
            fill="outline">
            <ion-icon name="heart-outline"></ion-icon>
          </ion-button>
          
          <!-- Botón para eliminar -->
          <ion-button 
            (click)="presentDeleteConfirm(item)" 
            size="small" 
            color="danger" 
            fill="outline">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="navigateToProfile()" expand="block">
        <ion-icon name="person-circle-outline"></ion-icon>
        Perfil
      </ion-button>
      <ion-button (click)="navigateToPerfumes()" expand="block">
        <ion-icon name="heart-outline"></ion-icon>
        Perfumes Fav
      </ion-button>
      <ion-button (click)="navigateToCart()" expand="block">
        <ion-icon name="cart-outline"></ion-icon>
        Carrito
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
